:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  font-family: 'Poppins', sons-serif;
  background: var(--body-bg-color);
}

.titulo {
  position: absolute;
  font-size: 30px;
  margin-left: 70px;
}

.titulo-mover {
  margin-left: 200px;
  transition: 0.7s;
}

.navigation {
  position: relative;
  height: 100vh;
  background: var(--green);
  width: 65px;
  overflow-x: hidden;
  transition: 0.2s;
}

.botao-menu {
  display: flex;
  justify-content: center;
}

.botao {
  background: var(--green);
  border: none;
}

.botao:hover {
  cursor: pointer;
}

.add-nav {
  width: 25vw;
  transition: 0.7s;
}

.logo-img {
  display: none;
  height: 27px;
  margin-right: 90px;
}

.logo-appear {
  display: block;
}

.navigation ul {
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-bottom-left-radius: 20px;
}

.navigation ul li a{
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon img {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 2px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  color: var(--text-color);
}

.navigation ul li:hover{
  background: var(--light-green);
}

.h1 {
  position: relative;
  padding-left: 100px;
  bottom: 2px;
}

.footer-nav {
  padding: 0 15px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  margin-top: 35.7vh;
  background-color: var(--light-green);
}

.img-log-out:hover {
  cursor: pointer;
}

.info-user {
  display: none;
  line-height: 15px;
  color: var(--text-color);
}

.info-user p:first-child {
  font-size: .9rem;
}

.info-user p:last-child {
  font-size: .7rem;
}

.info-user img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: -3px 0;
  border-radius: 12px;
}

.text-user {
  min-width: 100%;
}

.add-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.padding {
  padding: 0 5px 0 0;
}